* {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 16px 24px;
    border-radius: 12px;
    border: none;
    background-color: #0066ff;
    color: white;
    cursor: pointer;
}

button.close-button {
    padding: 16px;
    background-color: rgba(0,0,0,0.06);
    border-radius: 50%;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 24px;
    border: solid 1px rgba(0,0,0,0.2);

    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 400px;
}

:root{view-transition-name: none;}
::view-transition{pointer-events: none;}

::view-transition-group(.vt_element-animation),
::view-transition-group(.vt_element-animation-closing) {
    animation-timing-function: 500ms;
    animation-timing-function: cubic-bezier(0.38,0.49,0,1);
}

::view-transition-old(.vt-element-animation),
::view-transition-new(.vt-element-animation),
::view-transition-old(.vt-element-animation-closing),
::view-transition-new(.vt-element-animation-closing){
    height: 100%;
    min-height: 100%;
    overflow: clip;
    object-position: left top;
}

@keyframes vt-fade-in {
    from { opacity: 0; }
}

@keyframes vt-fade-out {
    to { opacity: 0; }
}

::view-transition-old(.vt-element-animation) {
    animation: vt-fade-out 200ms both cubic-bezier(0.38,0.49,0,1);
}

::view-transition-new(.vt-element-animation) {
    animation: vt-fade-in 200ms both cubic-bezier(0.38,0.49,0,1);
}

::view-transition-old(.vt-element-animation-closing) {
    animation: vt-fade-out 200ms both cubic-bezier(.75,0,.41,-0.06);
}

::view-transition-new(.vt-element-animation-closing) {
    animation: vt-fade-in 200ms both cubic-bezier(.75,0,.41,-0.06);
}

button.dialog-button {
    background-color: white;
    color: #0066ff;
    border: 1px solid rgba(0,0,0,0.2);
    margin-left: 16px;
}